2025-10-16_GP-regression-and-GSDs_week-1.html linguist-generated
2025-10-23_GP-regression-and-GSDs_week-2.html linguist-generated
2025-10-30_GP-regression-and-GSDs_week-3.html linguist-generated
2025-11-06_GP-regression-and-GSDs_week-4.html linguist-generated
2025-11-13_GP-regression-and-GSDs_week-5.html linguist-generated
gpflow_updated.html			      linguist-generated
*.Rmd linguist-language=R
